hostname: {{ harbor_hostname }}

http:
  port: 80

harbor_admin_password: {{ harbor_admin_password }}

database:
  password: root123

jobservice:
  max_job_workers: 10
  job_loggers:
    - file
  logger_sweeper_duration: 1

notification:
  webhook_job_max_retry: 3
  webhook_job_http_client_timeout: 30

log:
  level: info
  local:
    rotate_count: 50
    rotate_size: 200M
    location: /var/log/harbor


data_volume: /data

enable_chartmuseum: true
